<ul id="@slug" class="visible">
	<aside class="credits">
		<div class="hidden">
			<a href="http://graphismeauhavre.tumblr.com" target="_blank">Tumblr</a><br>
			<a href="http://instagram.com/unesaisongraphique" target="_blank">Instagram</a>
		</div>
		<div class="hidden">
			<a href="http://tinyurl.com/pu7yr3f" target="_blank">Facebook</a><br>
			<a href="http://twitter.com/Saisongraphique" target="_blank">Twitter</a>
		</div>
	</aside>
	<article>
		<div class="hidden">
			<p>Une Saison Graphique bénéficie du soutien de l’Université du Havre, la Ville du Havre, le Conseil Général de Seine-Maritime, le Conseil Régional de Haute-Normandie et l’Etat.</p>
			<p>Le site web d'Une Saison Graphique utilise le moteur <a href="http://staceyapp.com/" target="_blank">Stacey</a> et les polices de caractères <a href="https://github.com/raphaelbastide/Whois-mono" target="_blank">Whois Mono</a> dessinée par Raphaël Bastide et <a href="https://www.google.com/fonts/specimen/Roboto" target="_blank">Roboto</a> dessinée par Christian Robertson.</p>
			<p>Ce site à été conçu et développé par <a href="http://www.adrienlapasset.at/" target="_blank">Adrien Lapasset</a> et <a href="http://leo.yt" target="_blank">Léo Ternoir</a>.</p>
		</div>
		<div class="hidden">
			<h3>ESADHaR</h3>
			<p>Thierry Heynen,Vanina Pinter, Brigitte Monnier, Gilles Acézat.<br>
			02 35 53 30 31<br>
			<a href="mailto:esadhar@esadhar.fr" target="_blank">esadhar@esadhar.fr</a><br>
			<a href="http://esadhar.fr" target="_blan"k>esadhar.fr</a><br><br>
		
			<h3>Bibliothèque Universitaire</h3>
			<p>Pierre-Yves Cachard, Mathilde Poulain<br>
			02 32 74 44 33<br>
			<a href="mailto:bu@univ-lehavre.fr" target="_blank">bu@univ-lehavre.fr</a><br>
			<a href="bu.univ-lehavre.fr" target="_blank">bu.univ-lehavre.fr</a><br><br>

			<h3>Graphisme au Havre</h3>
			<p>Mariina Bakic, Charlotte Cavé,Virgile Laguin<br>
			02 35 53 30 31<br>
			<a href="mailto:mariina@unesaisongraphique.fr" target="_blank">mariina@unesaisongraphique.fr</a><br><br>
		
			<h3>Réseau Lire au Havre</h3>
			<p>service programmation et médiation : Rozenn Le Bris, Nathalie Beaufort-Lamy, Patricia Courché.<br>
			02 32 740 740<br>
			<a href="http://lireauhavre.fr" target="_blank">lireauhavre.fr</a><br><br>
	
			<h3>Service Culturel de l’Université du Havre</h3>
			<p>Jacqueline Charles-Rault, Josépha Cuvier, Elisabeth Dezotez, Claire Brassy.<br>
			02 32 74 42 43<br>
			<a href="mailto:service.culturel@univ-lehavre.fr" target="_blank">service.culturel@univ-lehavre.fr</a><br><br>
		
			<h3>Lycée St Vincent de Paul</h3>
			<p>Béatrice Berthelot, Philippe Dony.<br>
			02 35 25 07 18<br>
			<a href="mailto:st.vincent@online.fr" target="_blank">st.vincent@online.fr</a><br>
			<a href="http:// lycee-saint-vincent-le-havre.com" target="_blank">lycee-saint-vincent-le-havre.com</a>
		</div>

	</article>
	<figure>
		foreach $images do	
			<a href="#@slug"><img class="hidden" data-title="@title" src="@url"></a>
		endforeach		
	</figure>
	<h2 class="hidden">@title</h2>
</ul>
