<ul id="@slug" class="visible">
	<aside class="presse">
		<div class="hidden">
			<a href="@root_path/public/dl/DP_USG14.pdf" target=_blank>Télécharger le dossier de presse</a><br>
			<a href="@root_path/public/dl/CP_USG14.pdf" target=_blank>Télécharger le communiqué de presse</a>
		</div>	
	</aside>
	<article>
		<div class="hidden">
			<h3>Affiches en haute résolution</h3>
			<hr>
			<a href="@root_path/public/dl/fanette_mellier.jpg" target=_blank>Fanette Mellier</a><br>
			<a href="@root_path/public/dl/virgile_laguin_1.jpg" target=_blank>Virgile Laguin (1)</a><br>
			<a href="@root_path/public/dl/virgile_laguin_2.jpg" target=_blank>Virgile Laguin (2)</a><br>
			<a href="@root_path/public/dl/richard_niessen.jpg" target=_blank>Richard Niessen</a><br>
			<a href="@root_path/public/dl/chez_georges.jpg" target=_blank>Chez Georges</a><br>
			<a href="@root_path/public/dl/diane_boivin_1.jpg" target=_blank>Diane Boivin (1)</a><br>
			<a href="@root_path/public/dl/diane_boivin_2.jpg" target=_blank>Diane Boivin (2)</a><br>
			<a href="@root_path/public/dl/felix_pffafli.jpg" target=_blank>Felix Pfäffli</a><br>
			<a href="@root_path/public/dl/delphine_boeschlin.jpg" target=_blank>Delphine Boeschlin</a><br>
		</div>
	</article>
	<h2 class="hidden">@title</h2>
</ul>
