<ul id="@slug" class="visible">
	<article>
		<div class="hidden">
			<h3>Par la route</h3>
			<hr>
			<em>Depuis l’est (Rouen, Paris)</em>
			<p>L’A13 relie directement Paris au Havre (via Rouen), sinon vous pouvez prendre la N14 jusqu’à Rouen puis la N15 qui arrive au Havre.</p>
			<em>Depuis l’ouest (Rennes, Nantes)</em>
			<p>Suivre la direction de Caen (A84) puis du Havre (A29). Après le passage du pont de Normandie (péage 5€), le centre-ville n’est plus qu’à 10 minutes de route.</p>
			<em>Depuis le nord (Lille)</em>
			<p>Prendre la direction d’Amiens. À Amiens, vous pouvez choisir de prendre l’A29 qui arrive directement au Havre ou la N29 (Neufchâtel-en-Bray,Yvetot, Le Havre).</p>
		</div>
		<div class="hidden">
			<h3>Se déplacer au Havre</h3>
			<hr>
			<p>Le Tramway vous permettra de vous rendre dans les différents lieux d’exposition, même si un parcours à pieds est toujours le moyen le plus simple et agréable pour suivre le parcours proposé.</p> 
			<p>L’ensemble des expositions est localisé entre le quartier Gare et celui de l’Hôtel de Ville. Un réseau de pistes cyclables vous permettra de vous rendre rapidement à vélo dans les lieux d’exposition.</p>
		</div>
		<div class="hidden">
			<h3>En train</h3>
			<hr>
			<p>La Gare du Havre est desservie par les grandes lignes de la SNCF (trains Corail et TGV).</p>
		</div>
	</article>
	<figure>
		<div id="map-canvas" class="hidden"></div>
	</figure>
	<h2 class="hidden">@title</h2>
</ul>
